.task-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
}

.left-panel,
.right-panel {
  flex: 1 1 100%;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .left-panel,
  .right-panel {
    flex: 1;
    max-width: 50%;
  }
}

.right-panel {
  overflow-y: auto;
}
